@font-face {
    font-family: "Roboto Regular";
    src: local("Roboto Regular"), url("css/roboto-regular.ttf") format("ttf");
    src: local("Roboto Regular"), url("css/roboto-regular-webfont.woff2") format("woff2");
    font-style: normal;
    font-display: block;
    font-weight: 400;
}

:root {
    --bg-color: #0b2a38;
    --text-color: #a9a9b3;
    --orange-color: #e39963;
    --blu-color: #054061;
    --link-color: #66afd5;
    --light-grey: #383838;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

::-moz-selection {
    background-color: var(--orange-color);
}

::selection {
    background-color: var(--orange-color);
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roboto Regular";
    background-color: var(--bg-color);
    color: var(--text-color);
    user-select: none;
    font-size: 16px;
}

container {
    display: grid;
    height: 100vh;
    grid-template-columns: 15vw 25vw 60vw;
}

navigation {
    display: grid;
    grid-template-rows: 5vh 90vh 5vh;
}

divinename {
    font-weight: bold;
    color: #98bacb;
}

.books, 
.verses, 
.chapters, 
.analysis {
    width: 100%;
    height: 100%;
}

.books, 
.verses {
    overflow-y: auto;
}

.books ul, 
.chapters ul {
    list-style: none;
}

.books ul li {
    border: solid 1px var(--light-grey);
    border-top: none;
}

.books ul li a {
    display: block;
    padding: 12px 30px;
}

.books ul .active, 
.books ul li a:hover {
    background-color: var(--light-grey);
    color: var(--orange-color);
    font-weight: bold;
}

.books ul a, 
.chapters ul a, 
.verse-nav a {
    text-decoration: none;
    color: var(--link-color);
}

.verses {
    padding: 12px;
    border-left: solid 2px var(--light-grey);
}

.verses p {
    font-size: 105%;
    margin-bottom: 12px;
}

.verses h1 {
    margin-bottom: 20px;
}

.verses p sup, 
.verses p w:hover, 
.chapters a:hover, 
.verse-nav a:hover, 
.verses p divinename:hover {
    color: var(--orange-color);
}

.verses p w {
    -webkit-user-select: all;
    user-select: all;
    cursor: pointer;
}

.verses p transchange {
    color: #e4dfde;
}

.chapters details {
    width: 25%;
    padding: 5px;
    max-height: 70%;
    cursor: pointer;
    position: absolute;
    background-color: #100f0f;
}

.chapters details summary {
    padding: 8px;
    outline: none;
    font-weight: bold;
}

.chapters ul {
    margin-top: 21px;
}

.chapters ul li {
    float: left;
    width: 10%;
    padding: 7px;
    text-align: center;
}

.chapters ul li a {
    display: inline-block;
}

.chapters ul li .active,
.chapters ul li:hover {
    transform: scale(1.3);
    color: var(--orange-color);
    font-weight: bold;
}

.verse-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

.analysis {
    padding: 12px;
}

.analysis .card {
    margin-bottom: 50px;
}

.analysis .card p {
    margin-top: 12px;
}

.analysis .card span {
    font-size: 25px;
}

.analysis def {
    font-weight: bold;
    color: #cecef5;
}

.analysis w[src] {
    border-bottom: dashed 1px var(--orange-color);
    color: var(--orange-color);
}

.analysis .lemma {
    color: var(--orange-color);
    font-size: 21px;
    font-weight: bold;
}

note {
    display: none;
}

@media only screen and (max-width: 768px) {

}