:root {
    --bg-color: #202223;
    --text-color: #aca9a2;
    --orange-color: #e39963;
    --blu-color: #054061;
    --link-color: #66afd5;
    --light-grey: #383838;
    --dark-color: #100f0f;
    --pale-blue: #eac1b9;
    --hashem-color: #98bacb;
    --arrow-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23aca9a2" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>');
    --search-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23aca9a2" width="25" height="25" viewBox="0 0 25 25" fill-rule="evenodd"><path d="M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0"></path></svg>');
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

::-moz-selection {
    background-color: var(--orange-color);
}

::selection {
    background-color: var(--orange-color);
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, segoe ui, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    user-select: none;
    font-size: 16px;
}

container {
    display: grid;
    height: 100vh;
    grid-template-columns: 15vw 25vw 60vw;
}

navigation {
    display: grid;
    grid-template-rows: 5vh 5vh 85vh 5vh;
}

divinename {
    font-weight: bold;
    color: var(--hashem-color);
}

.books, 
.verses, 
.chapters, 
.analysis {
    width: 100%;
    height: 100%;
}

.books, 
.verses {
    overflow-y: auto;
}

.books ul, 
.chapters ul {
    list-style: none;
}

.books ul li {
    border: solid 1px var(--light-grey);
    border-top: none;
}

.books ul li a {
    display: block;
    padding: 12px 30px;
}

.books ul .active, 
.books ul li a:hover {
    background-color: var(--light-grey);
    color: var(--orange-color);
}

.books ul a, 
.chapters ul a {
    text-decoration: none;
    color: var(--link-color);
}

.verses {
    padding: 12px;
    border-left: solid 2px var(--light-grey);
}

.verses p {
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 7px;
}

.verses h1 {
    margin-bottom: 20px;
}

.verses p sup, 
.verses p w:hover, 
.chapters a:hover, 
.verses p divinename:hover {
    color: var(--orange-color);
}

.verses p w {
    -webkit-user-select: all;
    user-select: all;
    cursor: pointer;
}

.verses p transchange {
    color: var(--pale-blue);
}

.search {
    display: flex;
    align-items: center;
    padding: 3px;
}

.search label {
    position: relative;
    width: 100%;
    height: 100%;
}
  
.search label:before {
    content: "";
    background: var(--search-icon) center / contain no-repeat;
    position: absolute;
    width: 20px;
    left: 10px;
    bottom: 0;
    top: 0;
}
  
.search input {
    width: 100%;
    height: 100%;
    font-size: 17px;
    background-color: #202223;
    border: solid 1px #535353;
    color: #c9c7c5;
    padding: 5px;
    padding-left: 40px;
    outline: 0;
}

.search input::placeholder { 
    color: var(--text-color);
    opacity: 0.7; 
  }

.chapters details {
    width: 25%;
    padding: 5px;
    max-height: 70%;
    cursor: pointer;
    position: absolute;
    background-color: var(--dark-color);
}

.chapters details summary {
    padding: 8px;
    outline: none;
    font-weight: bold;
}

.chapters ul {
    margin-top: 21px;
}

.chapters ul li {
    float: left;
    width: 10%;
    padding: 7px;
    text-align: center;
}

.chapters ul li a {
    display: inline-block;
}

.chapters ul li .active,
.chapters ul li:hover {
    transform: scale(1.3);
    color: var(--orange-color);
    font-weight: bold;
}

.verse-nav {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
}

.verse-nav a {
    background-image: var(--arrow-icon);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    visibility: hidden;
    height: 50px;
    width: 50px;
}

.verse-nav a[href] {
    visibility: visible;
}

.verse-nav a:hover {
    background-color: var(--light-grey);
}

.verse-nav .prev {
    transform: rotate(180deg);
}

.analysis {
    padding: 12px;
}

.analysis .card {
    margin-bottom: 50px;
}

.analysis .card p {
    margin-top: 12px;
    line-height: 25px;
}

.analysis .card span {
    font-size: 25px;
}

.analysis .card .lemma {
    color: var(--orange-color);
    font-weight: bold;
    font-size: 21px;
}

note {
    display: none;
}

@media only screen and (max-width: 768px) {

}