@font-face {
  font-family: 'Roboto Regular';
  src: local("Roboto Regular"), url("../fonts/roboto/roboto-ttf/roboto-regular.ttf") format("ttf");
  src: local("Roboto Regular"), url("../fonts/roboto/roboto-woff2/roboto-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Light';
  src: local("Roboto Light"), url("../fonts/roboto/roboto-ttf/roboto-light.ttf") format("ttf");
  src: local("Roboto Light"), url("../fonts/roboto/roboto-woff2/roboto-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Medium';
  src: local("Roboto Medium"), url("../fonts/roboto/roboto-ttf/roboto-medium.ttf") format("ttf");
  src: local("Roboto Medium"), url("../fonts/roboto/roboto-woff2/roboto-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Material Icons';
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), 
  local("MaterialIcons-Regular"), 
  url("../fonts/materialdesignicons/MaterialIcons-Regular.woff2") format("woff2"), 
  url("../fonts/materialdesignicons/MaterialIcons-Regular.woff") format("woff"), 
  url("../fonts/materialdesignicons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

:root {
  --bg-color: #272323;
  --text-color: white;
}

*, 
*:before, 
*:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  color: #bdd6d0;
  background-color: #333;
  font-family: "Roboto Regular";
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  user-select: none;
  height: 100vh;
  width: 100vw;
}

.home.row {
  height: calc(100vh - 56px);
  background-image: url(../images/sky.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.home ha-shem {
  color: white;
  font-weight: 700;
  font-size: 33px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}

nav {
  background-color: teal;
}

nav .nav-wrapper {
  display: flex;
  align-items: center;
}

nav select {
  display: block;
  width: 200px;
  margin-left: 10px;
}

nav select.chapter {
  width: 100px;
}


.verses.row {
  margin: 0;
  height: 100vh;
  overflow-y: auto;
}

.verses p w {
  -webkit-user-select: all;
  user-select: all;
  cursor: pointer;
}

.verses p note {
  display: none;
}

::-moz-selection { 
  background-color: #C79292;
}

::selection { 
  background-color: #C79292;
}

loader {
  display: block;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

loader::after {
  will-change: transform;
  animation: spin 1.1s infinite linear;
  border-color: rgba(255,255,255,.3);
  border-top-color: white;
  content: "";
  border-width: 9px;
  border-style: solid;
  border-radius: 50%; 
  position:absolute;
  margin: auto;
  height: 100px;
  width: 100px;
  bottom: 0; 
  left: 0; 
  right: 0;
  top: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}