{strip}

<div class="strong-links">
  <details open>
    <summary>OTHER USES</summary>
    <ul>
      {foreach $links as $lnk}
      <li>
        <a href="?book={$lnk.book}&chapter={$lnk.chapter}&sn={$sn}">
          {$lnk.name} {$lnk.chapter}:{$lnk.verse}
        </a>
      </li>
      {/foreach}
    </ul>
  </details>
</div>

{foreach $words as $word}
<div class="card">
  <span>{$word.number}</span>

  <p class="lemma">
    <b>{$word.lemma}</b>
  </p>

  {if $word.translit}
  <p><i>{$word.translit}</i></p>
  {/if}

  {if $word.pron}
  <p><i>{$word.pron}</i></p>
  {/if}

  <p>{$word.derivation}</p>
  <p>{$word.strongs_def}</p>
  <p>{$word.kjv_def}</p>

  {if $word.xlit}
  <p>{$word.xlit}</p>
  {/if}
</div>
{/foreach}
{/strip}