<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="K Chikuse">
  <meta name="description" content="Concordance">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Concordance</title>
  <meta name="theme-color" content="#418980">
  <link href="favicon.ico" rel="icon">
  {fetch file="css/style.css" assign="css"}
  {fetch file="app.js" assign="js"}
  <style>{$css|strip}</style>
</head>
<body>
  {strip}
  <container>
    <div class="books">
      <ul>
        {foreach $books as $b}
        <li>
          <a book="{$b.id}" href="?book={$b.id}&chapter=1"{if $b.id eq $book.id} class="active" {/if}>
            {$b.name}
          </a>
        </li>
        {/foreach}
      </ul>
    </div>

    <navigation>
      <div class="chapters">
        <details>
          <summary>CHAPTERS</summary>
          <ul>
            {foreach $chapters as $c}
              <li>
                <a href="?book={$book.id}&chapter={$c}"{if $c eq $chapter} class="active" {/if}>
                  {$c}
                </a>
            </li>
            {/foreach}
          </ul>
        </details>
      </div>
      <div class="analysis"></div>
      <span class="verse-nav">
        {if $prev.book}
          <a href="?book={$prev.book.id}&chapter={$prev.chapter}">
            &larr; {$prev.book.name} {$prev.chapter}
          </a>
        {/if}

        {if $next.book}
          <a href="?book={$next.book.id}&chapter={$next.chapter}">
            {$next.book.name} {$next.chapter} &rarr;
          </a>
        {/if}
      </span>
    </navigation>

    <div class="verses">
      <h1>{$book.name} {$chapter}</h1>

      {foreach $verses as $v}
        {$junk = ['strong:', 'strongMorph:']}
        <p><sup>{$v.verse}</sup> {$v.text|replace:$junk:''}</p>
      {/foreach}
    </div>

  </container>
  {/strip}
</body>
<script>{$js|strip}</script>
</html>